<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de la Base de Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Datos de la Base de Datos</h1>
    
    <!-- Mostrar la imagen -->
    <img src="data:image/png;base64, {{ imagen_base64 }}" alt="Gráfico de Monitoreo">

    <ul>
        {% for row in result %}
            <li>{{ row }}</li>
        {% endfor %}
    </ul>
</body>
</html>
